<div id="google_translate_element"></div>

<script type="text/javascript">
function googleTranslateElementInit() {
  new google.translate.TranslateElement({pageLanguage: 'en'}, 'google_translate_element');
}
</script>

<script type="text/javascript" src="//translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>

<title>Useful software and websites</title>
	<link rel="canonical" href="https://aneeshlingala.github.io/useful-software-and-websites.html" />
<h1 style="text-align: center;">Useful software and websites 🌐👨‍💻</h1>
<p style="text-align: center;"></p>
<h4 style="text-align: center;">1. <a href="https://www.diskpart.com/" target="_blank" rel="noopener" title="https://www.diskpart.com/">AOMEI Partition Assistant</a></h4>
<p></p>
<h4 style="text-align: center;">2. <a href="https://htmlg.com/html-editor/" target="_blank" rel="noopener" title="HTMLg Wysiwyg editor">HTMLg Wysiwyg editor</a></h4>
<h4 style="text-align: center;"></h4>
<h4 style="text-align: center;">3. <a href="https://rufus.ie/" title="Rufus" target="_blank" rel="noopener">Rufus</a></h4>
<p></p>
<h4 style="text-align: center;">4. <a href="https://debian.org/" target="_blank" rel="noopener" title="Debian Linux">Debian Linux</a></h4>
<p></p>
<p style="text-align: center;"></p>
<h4 style="text-align: center;"><a href="/" target="_blank" rel="noopener" title="Back to home">Back to home</a></h4>
<p></p>
<p style="text-align: center;"></p>
<style>

</style>
<p></p>
<link rel="icon" href="favicon.ico" type="image/x-icon"/>
 <body style="background-color:#E1CE7A;">
